body{
  margin: 0;
  width: 100%;
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("img/5_background/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  font-family: 'IM Fell English SC';
  font-size: 21px;
  color: black;
}

*{
  padding: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

a{
  color: black;
  &:hover{
    text-decoration: underline;
  }
}

canvas{
  background-color: black;
  display: block;
  border-radius: 12px;
}

.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.win-lose-content img{
  z-index: 5;
  width: 500px;
  height: 250px;
}

.win-lose-content{
  z-index: 4;
  border-radius: 12px;
  width: 720px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  width: 720px;
  height: 480px;
  background-size: 100% 480px;
  background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
  border-radius: 12px;
  
}
  
.western-button {
  height: 40px;
  background-color: #8b4513;
  border: 4px solid #654321;
  border-radius: 8px;
  color: #fff8dc;
  padding: 15px 30px;
  font-size: 20px;
  font-family: 'IM Fell English SC', serif;
  text-transform: uppercase;
  box-shadow: 3px 3px 0 #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

h1{
  margin-bottom: 40px;
}
  
.western-button:hover {
  background: #d2691e;
  transform: scale(1.05);
  z-index: 5;
}

.key-info img{
  width: 24px;
  height: 24px;
  
}

.key-info{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  >div{
    display: flex;
    align-items: center;
  }
}

.icons{
  width: 640px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons img{
  width: 24px;
  height: 24px;
  border:2px solid black;
  border-radius: 100%;
}

.setting-botton{
  z-index: 3;
  margin-bottom: -40px;
  gap: 12px;
}

.setting-botton:hover{
  cursor: pointer;
}

.keys{
  margin-top: -52px;
  height: 40px;
  justify-content: space-between;
}

.keys img{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

#rotateOverlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: 40vh;
  z-index: 9999;
}

@media (min-width: 720px) {
  .fullscreen-hide{
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  canvas{
    width: 100%;
  }

  .game-contant{
    width: 100%;
  }

  .button-container{
    width: 100%;
  }

  .icons{
    width: 100%;
  }

  .win-lose-content{
    width: 100%;
  }

  #rotateOverlay{
    display: block;
  }

  .key-info{
    flex-direction: column;
  }
}

@media only screen and (max-height: 480px) {
  canvas{
    height: 100vh;
  }

  canvas{
    width: 100%;
  }

  .button-container{
    height: 100vh;
    margin-top: 0;
  }

  .win-lose-content{
    height: 100vh;
  }

  h1{
    display: none;
  }

  .key-info{
    display: none;
  }

  .link{
    display: none;
  }

  .setting-botton{
    padding-top: 10px;
    margin-bottom: -34px;
  }

  .fullscreen-hide{
    display: flex;
  }

  #rotateOverlay {
    display: block;
  }
}

.d-none{
  display: none;
}